<!DOCTYPE html>
<html lang="de">
<head>
    <title>fact.check</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/fact.check.icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id="page">
        <div id="container">
            <div id="authentication">
                <div id="header">
                    <img id="header-logo" src="{{ url_for('static', filename='images/fact.check.icon.png') }}" alt="fact check logo">
                    <h1 id="header-text">fact.check<span style="background: linear-gradient(to right, dodgerblue, mediumpurple); -webkit-background-clip: text; color: transparent;">.login</span></h1>
                </div>

                <div id="login-container">
                    <div id="login-form">
                        <form action="https://db-factcheck.kitsunexoo.net/login" method="POST">
                            <label for="email"></label><input type="text" id="email" name="email" placeholder="Email Adress" required>
                            <label for="password"></label><input type="password" id="password" name="password" placeholder="Password" required>
                            <button id="continue-btn">Continue</button>
                        </form>
                        <a href="https://www.google.com">Forgot your password?</a>
                    </div>
                </div>
                <p id="account-question">Don't have an account? <a href="https://www.google.com">Sign up</a></p>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>