body {
    max-height: 500px;
    max-width: 300px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    font-family: Inter, sans-serif;
    font-size: 14px;
    background: linear-gradient(to bottom, #27272c, #161619);
    color: white;
    margin: 0;
    padding: 0;
}

span {
    display: inline-block;
    justify-self: center;
    text-align: center;
}

h1 {
    padding: 0;
    margin: 0;
}

#header {
    width: 100%;
    text-align: center;
    align-self: center;
}

#url {
    font-size: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 2;          /* genau 2 Zeilen anzeigen */
    -webkit-box-orient: vertical;
    overflow: hidden;               /* rest nicht anzeigen (geigen LAAAALAAAALAAAAAAAAAALALALA) */
    text-overflow: ellipsis;
}

#rating-container {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

#rating-title {
    margin-bottom: 7px;
}

.rating {
    display: flex;
    align-items: center;
}

.vote-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#main {
    min-height: 200px;
    min-width: 250px;
    max-width: 293px;
    display: grid;
    justify-items: center;
    text-align: center;
    margin: 10px;
    padding: 10px 10px 10px 10px;
}

#text {
    margin: 0 0 10px 0;
}

#button-pos {
    background: linear-gradient(to bottom, #537a62, #3c5a46);
}

#button-pos:hover {
    background: #39593F;
}

#button-neg {
    background: linear-gradient(to bottom, #d45048, #ae3b36);
}

#button-neg:hover {
    background: #8e1919;
}

#divider {
    margin: 0 20px;
    color: #2C302E;
}

.button {
    width: 110px;
    height: 35px;
    margin: 0 5px 0 5px;
    color: white;
    font-size: 14px;
    border: hidden;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container {
    display: flex;
    align-items: center;
}

.button-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.line {
    border: none;
    height: 1px;
    background-color: #2C302E;
    margin: 20px 0 20px 0;
    width: 100%;
}

.red {
    color: #c91e1e;
}

.gradient {
    background: linear-gradient(to right, dodgerblue, mediumpurple);
    -webkit-background-clip: text; color: transparent;
}

.blue {
    color: #3e5fff;
}

.lightgreen {
    color: #9AE19D;
}

.green {
    color: #537A5A;
}

.lightgray {
    color: #909590;
}

.midgray {
    color: #474A48;
}

.darkgray {
    color: #2C302E;
}

